{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
<div class="container">
    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.description }}</td>
                <td>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}" class="btn btn-sm btn-info">show</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}" class="btn btn-sm btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_book_new') }}" class="btn btn-primary">Create new</a>
</div>
{% endblock %}
